body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.canvas-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.divider {
  margin: 0 10px;
  color: #f4f4f4;
}

.button-container {
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, rgb(191, 145, 255), rgb(75, 66, 255));
  gap: 10px;
}

.bar-element {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.button {
  border-radius: 5px;
  padding: 7px;
  color: rgb(55, 0, 255);
  background: rgb(226, 182, 255);
  border-color: rgb(55, 0, 255);
}

.screen {
  display: none;
}
.active {
  display: block;
}
